{{#animated-container}}
  {{#animated-bind 'post-route' use=transition duration=300}}
    <div>
      <h1>Account</h1>

      {{user-avatar picture='/img/tomster.png'}}
    </div>
  {{/animated-bind}}
{{/animated-container}}