{{#animated-container}}
  {{#if transitionsEnabled}}
    {{#animated-value route rules=transition duration=duration initialInsertion=true finalRemoval=true}}
      <div class="mobile-page__transformable {{if isActive 'mobile-page__transformable--active'}}">
        {{yield}}
      </div>
    {{/animated-value}}
  {{else}}
    {{yield}}
  {{/if}}
{{/animated-container}}