{{#animated-container}}
  {{#animated-value route rules=transition duration=duration}}
    <div class="mobile-page__transformable">
      {{yield}}
    </div>
  {{/animated-value}}
{{/animated-container}}