$transition-duration: 0.2s;

.mobile-pane-old {
  position: relative;

  .mobile-pane__container {
    will-change: transform;
  }

  .mobile-pane__child {
    overflow: hidden;

    &.child__previous, &.child__next {
      position: fixed;
      top: 0;
      left: 0;
      max-height: 100vh;
    }

    &.child__current {
      touch-action: pan-y;
      height: 100%;
      overflow: auto;
    }

    &.child__previous {
      transform: translateX(-100vw);
    }

    &.child__next {
      transform: translateX(100vw);
    }
  }

  &.mobile-pane--transitioning .mobile-pane__container {
    transition: transform $transition-duration;
  }

  &.mobile-pane--dragging {
    .mobile-pane__container {
      transition: none;
    }
  }
}
