$mobile-bar-height: 50px;

.mobile-bar-wrapper {
  padding: $mobile-bar-height 0;
}

.mobile-bar {
  height: $mobile-bar-height;
  width: 100%;
  position: fixed;
  left: 0;
  touch-action: pan-x; // disable vertical scrolling for mobile bars

  &.mobile-bar--top {
    background: darkcyan;
    top: 0;
  }

  &.mobile-bar--bottom {
    background: orange;
    bottom: 0;
  }
}

//TODO: this is demo css
.search-menu {
  padding: 10px;
  height: 85px;

  box-shadow: 0 0 5px rgba(0,0,0,0.3);

  input {
    border: none;
    margin: 0;
  }

  .nav-item a {
    color: #FFF;
    padding-bottom: 0.2rem;

    &.active {
      border-bottom: 4px solid #FFF;
    }
  }
}
