$mobile-bar-height: 50px;

.mobile-bar-wrapper {
  padding: $mobile-bar-height 0;
}

.mobile-bar {
  height: $mobile-bar-height;
  width: 100%;
  position: fixed;
  left: 0;
  touch-action: pan-x; // disable vertical scrolling for mobile bars

  &.mobile-bar--top {
    background: darkcyan;
    top: 0;
  }

  &.mobile-bar--bottom {
    background: orange;
    bottom: 0;
  }
}

//TODO: this is demo css
.search-menu {
  padding: 7px;
  height: 85px;

  box-shadow: 0 0 10px rgba(0,0,0,0.4);

  input {
    border-radius: 2px;
    border: none;
    margin: 0;
  }

  .nav-item a {
    color: #FFF;
    padding-top: 0.7rem;
    padding-bottom: calc(0.7rem - 1px);
    font-size: 0.8em;

    &.active {
      border-bottom: 2px solid #FFF;
    }
  }
}
