// variables
$sideMenuWidth: 85vw;
$transition-duration: 0.3s;

body.side-menu-open {
  overflow: hidden;
}

.side-menu {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  .side-menu-tray {
    position: fixed;
    top: 0;
    left: -$sideMenuWidth;

    height: 100vh;
    width: $sideMenuWidth;

    background: #FFF;
    //border-right: 1px solid rgba(0,0,0,.14);

    //TODO: decide if we want to have the shadow immediately appear or not when dragging/opening
    //transition: box-shadow $transition-duration;
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.5);
    opacity: 0;

    will-change: opacity;
  }

  &.dragging {
    .side-menu-tray {
      will-change: transform;
    }
  }

  &:not(.dragging) {
    .side-menu-tray {
      transition: box-shadow $transition-duration, transform $transition-duration;
    }
    .mask {
      transition: opacity $transition-duration;
    }
  }
}

body.side-menu-open .side-menu,
.side-menu.dragging {
  .side-menu-tray {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
}
