.user-avatar {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #cff0fc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 1rem;
  color: rgba(255,255,255,0.8);
}
