@import "ember-bootstrap/functions";
@import "ember-bootstrap/variables";

$primary: #E04E39;

$body-bg: #FAFBFC;
$navbar-light-active-color: $primary;

$list-group-active-border-color: $list-group-border-color;
$list-group-active-color: $list-group-action-hover-color;
$list-group-active-bg: $list-group-hover-bg;

$mobile-pane-link-color: #FFF;
$mobile-pane-active-link-color: #FFF;
