@import "ember-bootstrap/functions";

$primary: #E04E39;

$body-bg: #f5f6f7;
$navbar-light-active-color: $primary;

$ember-mobile-bar-bg: #FFF;
$ember-mobile-bar-color: #333!important;

$mobile-bar-border: 1px solid rgba(180,180,180,0.7);

$mobile-pane-link-color: #FFF;
$mobile-pane-active-link-color: #FFF;

$mobile-pane-simple-indicator-bg: rgba(255,255,255,0.4);
$mobile-pane-simple-indicator-active-bg: #FFF;
