@import "variables";
@import "bootstrap";
@import "side-menu";

body {
  @include media-breakpoint-down(sm){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
  }
}

.material-icons {
  vertical-align: bottom;
}

#mobile-header-menu {
  background: #FFF;
  border-bottom: 1px solid $nav-tabs-border-color;
  text-align: center;
  display: block;

  .navbar-brand {
    margin: 0;
  }

  .side-menu-toggler {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid $navbar-light-toggler-border;

    padding: 0.3rem 0.75rem;

    .material-icons {
      display: block;
      font-size: 1.75rem;
      line-height: 2.75rem;
      color: #666;
    }
  }
}

.side-menu-tray {
  $side-menu-item-color: #333;
  $side-menu-item-active-bg: #EEE;

  .side-menu-header {
    height: 8rem;
    padding: 1rem;
    background: #ec971f;
    color: #FFF;
    margin-bottom: 0.5rem;
  }

  .nav {
    .nav-item a {
      font-size: 0.75rem;
      font-weight: bold;
      color: $side-menu-item-color;
      line-height: 1.5rem;

      padding: 0.75rem 0.75rem;

      .material-icons {
        margin-right: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: lighten($side-menu-item-color, 20%);
      }

      &.active {
        background: $side-menu-item-active-bg;

        .material-icons {
          color: $side-menu-item-color;
        }
      }
    }

    .divider {
      margin: 0.5rem 0;
      height: 0;
      border-bottom: 1px solid $side-menu-item-active-bg;
    }
  }
}

#main-menu {
  background: #FFF;

  @include media-breakpoint-down(sm){
    padding: 0;
    border-top: 1px solid $nav-tabs-border-color;

    .container {
      width: auto;
    }

    @supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
      background: rgba(255, 255, 255, 0.75);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
    }

    .nav-item a {
      padding: 0.3rem 1rem;

      .material-icons {
        font-size: 1.75rem;
        display: block;
      }

      div {
        font-size: 0.6em;
      }
    }
  }

  @include media-breakpoint-up(md){
    border-bottom: 1px solid $nav-tabs-border-color;
  }
}

.app {
  .container {
    background: $body-bg;

    @include media-breakpoint-down(sm){
      width: auto;
    }
  }
}

.outlet {
  &, & > .liquid-child {
    //overflow-x: visible!important;
  }
}
