@import "variables";
@import "bootstrap";

body {
  @include media-breakpoint-down(sm){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
  }
}

#mobile-header-menu {
  background: #FFF;
  padding: 0;
  border-bottom: 1px solid $nav-tabs-border-color;

  .navbar-brand {
    margin: 0;
    padding: 0.5rem 0;
  }
}

#main-menu {
  background: #FFF;

  @include media-breakpoint-down(sm){
    padding: 0;
    border-top: 1px solid $nav-tabs-border-color;

    .container {
      width: auto;
    }

    @supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
      background: rgba(255, 255, 255, 0.75);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
    }

    .nav-item a {
      padding: 0.3rem 1rem;

      .material-icons {
        font-size: 1.75rem;
        display: block;
      }

      div {
        font-size: 0.6em;
      }
    }
  }

  @include media-breakpoint-up(md){
    border-bottom: 1px solid $nav-tabs-border-color;
  }
}

.app {
  .container {
    background: $body-bg;

    @include media-breakpoint-down(sm){
      width: auto;
    }
  }
}

.outlet {
  &, & > .liquid-child {
    //overflow-x: visible!important;
  }
}

.side-menu {
  $sideMenuWidth: 85vw;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: -$sideMenuWidth;

  height: 100vh;
  width: $sideMenuWidth;

  background: #FFF;
  border-right: 1px solid rgba(0,0,0,.14);

  &.dragging {
    will-change: transform;
  }

  .mask {
    position: fixed;
    top: 0;
    left: $sideMenuWidth;

    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.5);

    will-change: opacity;
  }

  &:not(.dragging) {
    transition: transform 0.3s;

    .mask {
      transition: opacity 0.3s;
    }
  }
}
