@import "variables";
@import "bootstrap";

body {
  @include media-breakpoint-only(xs){
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 5rem;
  }
}

#main-menu {
  @include media-breakpoint-down(sm){
    padding: 0;
    border-top: 1px solid $nav-tabs-border-color;
    background: #FFF;

    .container {
      width: auto;
    }

    @supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
      background: rgba(255, 255, 255, 0.75);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
    }

    .nav-item a {
      padding: 0.3rem 1rem;

      .material-icons {
        font-size: 1.75rem;
        display: block;
      }

      div {
        font-size: 0.6em;
      }
    }
  }

  @include media-breakpoint-up(md){
    border-bottom: 1px solid $nav-tabs-border-color;
    background: #FFF;
  }
}
