@import "variables";
@import "bootstrap";
//@import "gesture-slider";

// dependencies
@import "ember-mobile-menu";
@import "ember-mobile-pane";
@import "ember-mobile-bar";

// utils
@import "shadows";

// components
@import "main-menu";
@import "mobile-menu";
@import "user-avatar";

body {
  @include media-breakpoint-down(sm){
    .memory-scroll {
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      //touch-action: pan-y; // fix for https://github.com/html-next/ember-gestures/issues/104
    }
  }

  @include media-breakpoint-up(md) {

  }
}

.material-icons {
  vertical-align: middle;
}

.app {
  .container {
    background: $body-bg;

    @include media-breakpoint-down(sm){
      width: auto;
    }
  }
}

.btn-link {
  font-size: $font-size-lg;
  text-decoration: none!important;
  padding-left: 0;
  padding-right: 0;

  &:active {
    opacity: 0.5;
  }
}

.img-responsive {
  height: 0;
  padding-bottom: 56.2%;

  img {
    width: 100%;
  }
}

.post {
  .card-text {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }
}

.mobile-menu__toggle {
  padding: 0 0.5rem;
}
.mobile-bar__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.nav__item .item__link {
  font-size: 0.9em;
  font-weight: 400;
}

.mobile-page {
  background: $body-bg;

  @include media-breakpoint-down(sm){
    min-height: 100vh;
    box-shadow: $z-depth-3;
  }
}

// carousel help classes
.mobile-pane__pane .covering-img {
  height: 100%;
}
.covering-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    visibility: hidden;
  }
}

.rounded-large {
  border-radius: 0.625rem;
}

.carousel {
  .mobile-pane__pane {
    position: relative;

    .carousel__heading {
      position: absolute;
      text-shadow: 1px 1px 5px rgba(0,0,0,1);

      bottom: 3.5rem;
      left: 2rem;

      @include media-breakpoint-down(sm){
        bottom: 2.5rem;
        left: 1rem;

        h3 {
          font-size: 1.2em;
        }
      }
    }
  }
}

.mobile-bar {
  z-index: 3;
}
.animated-orphans {
  //max-width: 100vw;
  //overflow-x: hidden;
  //overflow-y: auto;
  //position: absolute;
  //top: 0;
  //left: 0;
}
.animated-container.animated-page {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
