@import "variables";
@import "vendor/bootstrap";

// dependencies
@import "ember-mobile-menu";
@import "ember-mobile-pane";
@import "ember-mobile-bar";

// utils
@import "util/general";
@import "util/shadows";

// components
@import "components/carousel";
@import "components/main-menu";
@import "components/mobile-menu";
@import "components/mobile-bar";
@import "components/mobile-page";
@import "components/parallax-element";
@import "components/user-avatar";

// pages
@import "pages/contact";
@import "pages/posts";
@import "pages/posts/post";

//TODO: clean up everything below

.material-icons {
  vertical-align: middle;
}

.app {
  .container {
    background: $body-bg;

    @include media-breakpoint-down(sm){
      width: auto;
    }
  }
}

.nav__item .item__link {
  font-size: 0.9em;
  font-weight: 400;
}

//TODO: see if this is still necessary
.animated-container.animated-page {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

@include media-breakpoint-down(xs){
  .list-group {
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;

    .list-group-item {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}


//TODO: put this in the transition
/*
.mobile-page {
  position: relative;
}
.mobile-page::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.25);
}*/

// make sure the mobile-bar content is at the right z-index relative to a leaving bar
.mobile-bar-wrapper > {
  .mobile-bar__content {
    position: relative;
    z-index: 1;
  }
}
