{{#animated-bind 'home.index' use=transition duration=150}}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        {{headline-carousel panes=panes}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h2>Headlines</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <a class="list-group-item list-group-item-action">
            Something something
          </a>
        </div>
      </div>
    </div>
  </div>
{{/animated-bind}}