<h1 class="m-3">Settings</h1>

<div class="list-group">
  {{#link-to 'settings.account' class='list-group-item'}}{{material-icon 'settings' size='lg' class='mr-3'}} General {{material-icon 'keyboard_arrow_right' size='lg' class='float-right'}}{{/link-to}}
  {{#link-to 'settings.account' class='list-group-item'}}{{material-icon 'account_circle' size='lg' class='mr-3'}} Account{{/link-to}}
</div>