{{#if mask}}
  <div class="mask" {{action 'close'}}></div>

  {{#if isFastBoot}}
    {{#if isOpen}}
      {{#link-to (query-params sideMenuOpen=false) class="mask" style="opacity: 1;"}}{{/link-to}}
    {{/if}}
  {{/if}}
{{/if}}

<div class="side-menu-tray">
  {{yield (hash
    link-to=(component 'side-menu-link-to' close='close')
  )}}
</div>