.headline-carousel {

  &, & > .mobile-pane {
    border-radius: 0.625rem;
  }

  // fixes rounded-corner overflow issue w/ rounded-corners + will-change on safari
  .mobile-pane {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  .mobile-pane__pane {
    position: relative;

    .carousel__heading {
      position: absolute;
      text-shadow: 1px 1px 5px rgba(0,0,0,1);
      text-align: left;

      bottom: 3.5rem;
      left: 2rem;

      @include media-breakpoint-down(sm){
        bottom: 2.5rem;
        left: 1rem;

        h3 {
          font-size: 1.2em;
        }
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @include media-breakpoint-only(xs){
    border-radius: 0;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;

    .mobile-pane {
      border-radius: 0;
    }
  }
}
