// bottom bar
#main-menu {
  background: none!important;

  .dropdown-menu {
    @extend .mt-1;
  }
  .user-avatar {
    @extend .z-depth-1;
    transition: box-shadow $transition-duration;

    &:hover {
      @extend .z-depth-2;
    }
  }

  @include media-breakpoint-only(xs){
    position: unset;
    bottom: 0;
    padding: 0;

    border-top: $mobile-bar-border;

    .nav-item a {
      position: relative;
      padding: 0.3rem 1rem 1rem 1rem;

      .material-icons {
        font-size: 1.75rem;
        display: block;
        line-height: 1.75rem;
      }

      div {
        font-size: 0.7em;

        // some trickery to keep the menu items the same width while keeping a centered label
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @include media-breakpoint-up(sm){
    border-bottom: $mobile-bar-border;
  }
}
