// make sure the mobile-bar content is at the right z-index relative to a leaving bar
.mobile-bar-wrapper > {
  .mobile-bar__content {
    position: relative;
    z-index: 1;
  }
}

.mobile-bar {
  // make sure we are above animating mobile-pages but below any sidebars
  z-index: 3;

  // add iOS style blur when available
  @extend .blurred-backdrop;
}

//TODO: this expects the mobile bar to be removed when transitioning "down" the hierarchy
.mobile-bar--bottom {
  // bottom mobile bar is below the incoming mobile-page
  z-index: 1;
}

.mobile-bar__icon-btn {
  width: 24px;

  a, div {
    display: block;
    color: $primary;
  }
}
.mobile-bar__icon-btn--scale-icon {
  i.material-icons {
    transform: scale(1.6);
  }
}

.mobile-bar__btn a {
  display: block;
  text-decoration: none!important;
  color: $primary!important;
}
.mobile-bar__btn--right {
  position: absolute;
  right: 0;
}

.mobile-bar__title {
  color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-bar__title--logo {
  color: $primary;
  font-weight: normal!important;
}
