@include media-breakpoint-only(xs){
  .mobile-page__transformable--active {
    background: $body-bg;
  }

  .mobile-page__transformable {
    overflow: hidden;

    .container-fluid {
      padding: 0;
    }
  }

  body.transitioning {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    //TODO: this is unnecessary if we disable growth on the container
    .mobile-page--active > .animated-container {
      min-height: 100vh!important;
    }

    .mobile-page--active > .animated-container > .mobile-page__transformable,
    .animated-orphans > .mobile-page__transformable {
      min-height: 100vh!important;
      box-shadow: $z-depth-3;
    }
  }
}

// this is necessary for guaranteeing ember-animated animation performance (especially on Android)
.animated-orphans > *, .mobile-page__transformable {
  will-change: transform, opacity, z-index;
}
