.mobile-menu__tray {
  .mobile-menu__header {
    .user-avatar {
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      font-size: 2rem;
    }
  }

  .mobile-menu__nav-item a {
    .material-icons {
      width: 2.5rem;
      font-size: 1.5em;
      line-height: 1.5;
      color: lighten($mobile-menu-item-color, 20%);
      vertical-align: middle;
    }
  }
}
