.top-toolbar {
  border-bottom: $mobile-bar-border;

  .mobile-bar__btn {
    will-change: transform, opacity;
  }

  .mobile-bar__title {
    will-change: transform, opacity, color;
  }

  .mobile-pane__nav {
    .nav__scroller {
      li.nav__item a.item__link {
        color: $primary;
      }
    }

    .nav__indicator {
      background: $primary;
    }
  }
}
