{{!--#animated-container--}}
  {{!--#animated-bind 'event-index-route' use=transition duration=150--}}
    <div class="card card-sm-up">
      {{event-edit onSave=(action 'toDashboard')}}
    </div>
  {{!--/animated-bind--}}
{{!--/animated-container--}}