<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h2>Posts archive</h2>
    {{#each model as |post|}}
      <div class="card" data-post-id="post-{{post.id}}">
        <div class="card-block">
          <h4 class="card-title">{{#link-to 'posts.post' post}}{{post.title}}{{/link-to}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{post.date}}</h6>
        </div>
      </div>
      <br>
    {{/each}}
    <div class="form-group text-right">
      {{#link-to 'posts' class="btn btn-secondary"}}More posts...{{/link-to}}
    </div>
  </div>
</div>