<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{model.title}} <small>{{model.date}}</small></h3>
      </div>
      <div class="panel-body">
        {{{model.bodyAsHtml}}}
      </div>
    </div>
  </div>
</div>