<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card" data-post-id="post-{{model.id}}">
        <div class="card-block">
          <h4 class="card-title">{{model.title}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{model.date}}</h6>
          <p class="card-text">
            {{{model.bodyAsHtml}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>