{{scroll-to position=0 key='home.settings.index'}}

{{to-elsewhere named='top-toolbar-title' send='Settings'}}

{{#mobile-page route='home.settings.index'}}
  <div class="container d-sm-none">
    <div class="row">
      <div class="col-xs-12 col-md-6 offset-md-3">
        <h1 class="mt-3 d-none d-md-block">Settings</h1>

        {{settings-menu class="my-3"}}

      </div>
    </div>
  </div>
{{/mobile-page}}