<ToElsewhere
  @named="top-toolbar-btn-left"
  @send={{hash
    targetRoute="home.settings.index"
    icon="keyboard_arrow_left"
    scaleIcon=true
    text="Settings"
  }}
/>
<ToElsewhere @named="top-toolbar-title" @send="Notifications" />
<MobilePage @route="home.settings.notifications">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4 text-primary mb-0 d-none d-sm-block">
          Notifications
        </h1>
      </div>
    </div>
  </div>
</MobilePage>