{{!-- TODO: handle these in mobile-page component for better timing --}}
{{#if motion.isAnimating}}
  {{set-body-class 'transitioning'}}
{{/if}}

{{animated-orphans}}

{{outlet class="app"}}

{{!--<div style="position: fixed; bottom: 50px; left: 0; right: 0; font-size: 0.7rem">{{time-control x=1}}</div>

<style>
  /* this is patching a bug I just noticed in time-control. It should not have an opinion about its own width. */
  .eat-time-control { width: auto }
</style>--}}