{{to-elsewhere named='main-navigation-button' send=(hash targetRoute='index' icon='angle-left')}}
{{to-elsewhere named='main-navigation-title' send='Event'}}

{{#animated-container}}
  {{#animated-bind 'event-route' use=panBack duration=3000}}
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h1 class="display-4 d-none d-sm-block">Event</h1>

          {{outlet}}
        </div>
      </div>
    </div>
  {{/animated-bind}}
{{/animated-container}}