<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Github stats</h3>
      </div>
      <div class="panel-body">
        <p>
          Username: {{model.login}}
        </p>
        <p>
          Avatar: <img src={{model.avatar_url}} width="32" height="32">
        </p>
        <p>
          # of Public Repos: {{model.public_repos}}
        </p>
      </div>
    </div>
  </div>
</div>